<!-- Belongs at: /_includes/navigation.html -->

<!-- This finds the current page so it can be highlighted. -->

<div>

{% assign current_page = "/index.html" %}

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav>
    <ul>
    {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
            {% assign current = ' class="current"' %}
        {% else %}
            <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
            {% assign current = null %}
        {% endif %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
        <li{{ current }}>
            <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            <ul>
                {% for sublink in sublinks %}
                <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>

<style>
    nav ul {
      display: flex;
      list-style: none;
    }
    nav ul li {
      margin-right: 30px;
      line-height: 25px;
      background: #f1f0cf;
    }
    nav ul li a {
      font-size: 18px;
      text-decoration: none;
      color: black;
    }
    nav ul li a:hover {
      text-decoration: underline;
    }
    .current {
      font-size: 18px;
      background: #08e6d0;
      color: darkred;
      padding: 1px;
    }
</style>

</div>

<div>
<hr width="100%" color="green" />

<style>
hr {
  border:1px;
  background:var(--clr-splitter-blockquote-and-section);
  height:5px;
  width:100%;
  margin:10px auto 30px;
}
</style>

</div>